<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/home">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/science">Science</a></li>
        		<li><a href="/literature">Literature</a></li>
			      <li><a href="/art">Art</a></li>
			      <li><a href="/politics">Politics</a></li>
			      <li><a href="/religion">Religion</a></li>
    		</ul>
		</nav>
		<div class="container">
      
     {{content}}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:pooja.rajadurai@gmail.com">email</a></li>
        		<li><a href="https://github.com/prajadur">github.com/prajadur</a></li>
			</ul>
		</footer>
	</body>
</html>
